html{
    width: 100%;
    height: 100%;
}

.header{
    height: 15%;
    width: 100%;
}

.header #room_name{
    text-align: center; 
    border-bottom: dashed 2px #6594e0;
}

.header #goto_home{
    text-align:right;

}

.videos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}

.sthumbnail{
    width: 30%;
    height: 50%;
    margin: 1% 1% 1% 1%;
}

.sthumbnail iframe{
    
    width:100%;
    height: 100%;
}

.delete_room{
    text-align: right;
    width:100%; 
    height: 5%;
}
